
.header {
    position: relative;
    z-index: 9999;
    &_top {
        height: 70px;
        background-color: #EAEFFA;
        display: flex;
        align-items: center;
        justify-content: center;
        
        padding: 0 30px;
        position: relative;
        z-index: 101;
    }
    .logo {
        max-width: none;
        height: 33px;
        padding: 0;
        a {
            display: block;
            height: 100%;
        }
        img {
            height: 100%;
        }
    }
    .h_util {
        position: absolute;
        margin-top: -25px;
        right: 30px;
        top: 50%;
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 24px;
        
        .h_user {
            .user_name {
                font-weight: 500;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .h_branch {
            position: relative;
            
            padding-left: 11px;
            margin-left: 10px;
            z-index: 999;
            .ico_arrow {
                margin-left: 6px;
                opacity: 0.5;
                transition: all .2s ease-in-out;
                width: 14px;
                height: 14px;
            }
            .fa-building {
                margin-right: 6px;
            }
            &_current {
                cursor: pointer;
                display: block;
                line-height: 50px;
            }
            &:hover {
                .h_branch_list {
                    opacity: 1;
                    visibility: visible;
                }
                .ico_arrow {
                    transform: rotate(180deg);
                }
            }
            &_list {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                right: 0;
                top: 46px;
                white-space: nowrap;
                background-color: #fff;
                box-shadow: 0 5px 10px rgba(#000, 0.2);
                box-sizing: border-box;
                padding: 10px 0;
                border-radius: 10px;
                line-height: 30px;
                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    margin-left: -6px;
                    bottom: 100%;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-bottom: 8px solid #fff;
                }

                transition: all .2s ease-in-out;
            }
            &_item {
                
                a {
                    display: block;
                    padding: 0 18px;
                }
                &:hover {
                    background-color: rgba($c_key, .1);
                }
            }
            
            &::before {
                content: '';
                position: absolute;
                width: 1px;
                height: 14px;
                background-color: #bbb;
                left: 0;
                top: 50%;
                margin-top: -7px;
            }
        }
        .h_btns {
            margin-left: 30px;
            font-size: 16px;
            display: flex;
            gap: 10px;
            .h_btn {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                background-color: rgba($c_key, .7) ;
                border-radius: 6px;
                transition: background-color .2s ease-in-out;
                &:hover {
                    background-color: rgba($c_key, 1) ;
                }

                &.ty_logout {
                    background-color: rgba(rgb(175, 12, 12), .7) ;
                    &:hover {
                        background-color: rgba(rgb(175, 12, 12), 1)  ;
                    }
                }
            }
        }
    }

    .gnb {
        padding: 0 30px;
        background-color: $c_key;
        box-shadow: inset 0 0 12px rgba(#000, .3);
        display: flex;
        position: relative;
        z-index: 100;
        padding-top: 0 !important;

        &_wrap {
            height: 50px;
            position: relative;
        }
        &.gnb_off {
           .gnb_list .gnb_dep2 {
                display: none;
           }
        }

        &_list {
            display: flex;
            height: 50px;
            .gnb_item {
                position: relative;

                
                &:hover {

                    .gnb_dep2 {
                        visibility: visible;
                        opacity: 1;
                    }   

                    &::before {
                        opacity: 1;
                        top: 0;
                    }
                    &::after {
                        opacity: 1;
                        bottom: 0;
                    }
                }
                &.on {
                    &::before {
                        opacity: 1;
                        top: 0;
                    }
                    &::after {
                        opacity: 1;
                        bottom: 0;
                    }
                }

                &::before {
                    content:'';
                    position: absolute;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 5px solid #fff;
                    left: 50%;
                    margin-left: -4px;
                    top: -5px;
                    transition: all .2s ease-in-out;
                    opacity: 0;
                }
                &::after {
                    content:'';
                    position: absolute;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-bottom: 5px solid #fff;
                    left: 50%;
                    margin-left: -4px;
                    bottom: -5px;
                    transition: all .2s ease-in-out;
                    opacity: 0;
                }
            }
            .link_dep1 {
                display: block;
                line-height: 50px;
                padding: 0 22px;
                font-size: 15px;
                color: #fff;
                font-weight: 400;
            }
            .gnb_dep2 {
                position: absolute;
                width: 160px;
                box-sizing: border-box;
                left: 50%;
                margin-left: -80px;
                top: 100%;
                margin-top: -2px;
                box-sizing: border-box;
                padding: 10px 0;
                border: 2px solid $c_key;
                background-color: #fff;
                border-radius: 0 0 10px 10px;
                opacity: 0;
                visibility: hidden;
                text-align: center;
                transition: all .1s ease-in-out;
                .link_dep2 {
                    display: block;
                    font-size: 14px;
                    line-height: 30px;
                    padding: 0 15px;
                    &:hover {
                        text-shadow: 0 0 1px rgba(#000, .4);
                        background-color: rgba($c_key, .1);
                    }
                }
            }
        }
        .btn_all_menu {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -10px;
            .bar_box {
                width: 20px;
                height: 16px;
                position: relative;
                .bar_item {
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    left: 0;
                    background-color: #fff;
                    transition: all .2s ease-in-out;
                    &.bar_top {
                        top: 0;
                    }
                    &.bar_mid {
                        top: 7px;
                        width: 70%;
                    }
                    &.bar_bot {
                        top: 14px;
                    }
                }
            }

            &.on {
               .bar_box {
                    .bar_item {
                        &.bar_top {
                            top: 7px;
                            transform: rotate(45deg);
                        }
                        &.bar_mid {
                            width: 0;
                        }
                        &.bar_bot {
                            top: 7px;
                            transform: rotate(-45deg);
                        }
                    }
               } 
            }
        }
    }
    .all_menu {
        visibility: hidden;
        opacity: 1;
        top: -400px;
        position: absolute;
        width: 100%;
        padding: 0 30px; 
        box-sizing: border-box;
        z-index: 99;
        background-color: #fff;
        border-bottom: 1px solid $c_key;
        transition: all .3s ease-in-out;
        &.on {
            visibility: visible;
            top: 120px;
        }

        &_list {
            display: flex;
            
        }
        &_item {
            border-left: 1px solid $c_key;
            padding: 30px 25px;
            flex: 1;
            white-space: nowrap;
            &:last-child {
                border-right: 1px solid $c_key;
            }
            .link_dep1 {
                display: block;
                font-size: 16px;
                font-weight: bold;
                color: $c_key;
            }
        }
        &_dep2 {
            margin-top: 15px;
            li + li {
                margin-top: 6px;
            }
            .link_dep2 {
                display: inline-block;
                vertical-align: top;
                position: relative;
                font-size: 14px;
                line-height: 24px;
               
                &::after {
                    content:'';
                    position: absolute;
                    height: 1px;
                    background-color: #333;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    transition: width .2s ease-in-out;
                }
                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }

    
}

.tab_nav {
    position: relative;
     &_toggle {
         position: absolute;
         right: 30px;
         top: 10px;
         font-size: 24px;
         line-height: 0;
         color: #333;
     }

     &.off {
         .tab_nav_list {
             display: none;
         }
         .tab_nav_toggle {
             transform: rotate(180deg);
         }
     }

     &_list {
         display: flex;
         gap: 10px;
         flex-wrap: wrap;
         background-color: #f2f2f6;
         padding: 10px 30px;
         padding-right: 70px;
         border-bottom: 1px solid #ddd;
     }
     
     &_item {
         position: relative;
         .del_item {
             position: absolute;
             right: -4px;
             top: -4px;
             width: 16px;
             height: 16px;
             background-image: url(../images/common/ico_x_w.svg);
             background-position: center center;
             background-size: 12px;
             background-repeat: no-repeat;
             border-radius: 50%;
             background-color: #5455c6;
             box-shadow: 1px 1px 2px rgba(#000, 0.3);

         }
         &.on {
             .tab_nav_link {
                 background-color: rgba($c_key, 1);
             }
         }
     }
     &_link {
         display: block;
         border-radius: 4px;
         background-color: rgba($c_key, .4);
         color: #fff;
         font-size: 12px;
         line-height: 26px;
         white-space: nowrap;
         padding: 0 10px;
         padding-right: 16px;
         box-shadow: 1px 1px 2px rgba(#000, 0.3);
         transition: background-color .1s ease-in-out;
         &:hover {
            background-color: rgba($c_key, .5);
         }
     }

 }


 .container {
    .contents {
        padding: 30px;
        padding-bottom: 50px;
    }
    .top_tit {
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid #bbb;
        display: flex;
        align-items: center;
        .tit {
            font-size: 20px;
            line-height: 1.5;
            font-weight: bold;
            color: #222;
        }
        .btn_refresh {
            margin-left: 6px;
            
        }
        & + .sec {
            margin-top: 0;
        }
    }
    .sec {
        margin-top: 40px;
        &_tit {
            display: flex;
            align-items: flex-end;
            gap: 15px;
            margin-bottom: 15px;
            .tit {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    
 }

.c_num {
    display: inline-block;
    padding-left: 13px;
    position: relative;
    &_ico {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
    }
    &_link {
        display: block;
        color: darken($c_blue, 15%) ;
        font-weight: 500;
        &:hover {
            text-decoration: underline;
        }
    }
}


.date_set {
    display: flex;
    align-items: center;
    gap: 6px;
}

.scroll_area {
    overflow: auto;
    border: 1px solid $c_line;
}
.x_scroll_area {
    overflow-x: auto;
    border: 1px solid $c_line;
}
.y_scroll_area {
    overflow-y: auto;
    border: 1px solid $c_line;
}

.t_ellipsis1 {
    @include text-hidden-single
}

/* footer */
.footer {
    background-color: #313131;
    color: #fff;
    .inner {
        width: auto;
        max-width: 1300px;
        margin: 0 auto;
    }
    &_top {
        background-color: #272727;
        padding: 10px 0;
        &_nav {
            display: flex;
            align-items: center;
            margin: 0 -15px;
            li {
                padding: 0 15px;
                box-sizing: border-box;
                position: relative;
                &::after {
                    content:'';
                    position: absolute;
                    width: 1px;
                    height: 10px;
                    right: 0;
                    top: 50%;
                    margin-top: -5px;
                    background-color: #7b7b7b;
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
            a {
                font-size: 14px;
                color: #7b7b7b;
                font-weight: 500;
                line-height: 40px;
                &:hover {
                    color: #fff;
                }
            }

        }
    }
    &_bot {
        color: #7b7b7b;
        padding: 50px 0;
        font-size: 12px;
        line-height: 1.6;
        .inner {
            display: flex;
        }
    }
    &_logo {
        width: 260px;
        flex-shrink: 0;
        margin-right: 10%;
    }
    &_branch {
        font-size: 12px;
        line-height: 1.6;
        &_sec {
            display: flex;
            align-items: center;
            & + & {
                margin-top: 5px;
            }
        }
        &_tit {
            font-size: 12px;
            line-height: 1.5;
            font-weight: bold;
            align-self: flex-start;
            
        }
        &_list {
            display: flex;
            flex-wrap: wrap;
            li {
                flex-shrink: 0;
                padding: 0 10px;
                position: relative;
                &::after {
                    content:'|';
                    position: absolute;
                    font-size: 10px;
                    right: 0;
                    top: 2px
                }
                &:last-child {
                    padding-right: 0;
                    &::after {
                        display: none;
                    }
                }
            }
            strong {
                font-weight: bold;
            }
        }
    }
    &_info {
        margin: 0 -10px;
        font-size: 12px;
        line-height: 1.6;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        span {
            flex-shrink: 0;
            padding: 0 10px;
            position: relative;
            &::after {
                content:'|';
                font-size: 10px;
                position: absolute;
                right: 0;
                top: 2px;
            }
            &:last-child {
                padding-right: 0;
                &::after {
                    display: none;
                }
            }

        }
    } 
    &_contact {
        margin-top: 20px;
        font-size: 14px;
        color: #d0d0d0;
        display: flex;
        .tit {
           padding-left: 20px;
           background-image: url(../images/common/ico_tel.svg); 
           background-repeat: no-repeat;
           background-position: 0 center;
           padding-right: 10px;
           margin-right: 10px;
           position: relative;
           &::after {
                content:'|';
                position: absolute;
                right: 0;
                top: 2px;
                font-size: 11px;
            }
        }
     
    }
} 



/* layout */
.container {
    &.ty_main {
        padding-bottom: 0;
    }
}

.inner {

    padding: 0 30px;
}
