
  
.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    //grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer"
}
.header {
    grid-area: header;
    position: sticky;
    left: 0;
    top: 0;
    align-items: center;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      .logo {
        line-height: 1;
        img {
          height: 32px;
        }
      }
  }

.sidenav {
    grid-area: sidenav;
    position: sticky;
    left: 0;
    top: 0;
    background-color: #fff;
    height: 100vh;
    width: 240px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(#000, .3);
    padding: 0 20px 20px;
    box-sizing: border-box;
    .logo {
        a {
            display: inline-flex;
            vertical-align: top;
            height: 60px;
            align-items: center;
            justify-content: flex-start;
            img {
                height: 36px;
            }
        } 
    }
}

  .container {
    padding: 0 30px 60px;
    grid-area: main;
    min-width: 0;
  }

  .footer {
    grid-area: footer;
    background-color: #ddd;
  }

.tab_nav {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_toggle {
        position: absolute;
        right: 30px;
        top: 10px;
        font-size: 24px;
        line-height: 0;
        color: #333;
    }

    &.off {
        .tab_nav_list {
            display: none;
        }
        .tab_nav_toggle {
            transform: rotate(180deg);
        }
    }

    &_ctrl {

        display: flex;
        padding: 10px 0;
        padding-left: 30px;
        background-color: $c_bg;
        flex-shrink: 0;
        gap: 10px;
        position: relative;
        z-index: 10;
        // &::before {
        //     content: '';
        //     position: absolute;
        //     width: 30px;
        //     height: 100%;
        //     top: 0;
        //     right: 100%;
        //     background: linear-gradient(90deg, rgba(249,249,249,0) 0%, rgba(249,249,249,1) 100%);
        // }
        &_btn {
            width: 30px;
            height: 30px;
            border-radius: 4px;
            background-color: #fff;
            box-shadow: 0 4px 10px rgba(#000, .3);
            font-size: 14px;
            color: #666;
        }
    }

    &_list {
        overflow: hidden;
        min-width: 0;
        flex: 1;
        padding: 10px 0;
    }
    
    &_item {
        position: relative;
        width: fit-content;
        background-color: rgba($c_solidGrey, .5);
        transition: background-color .1s ease-in-out;
        height: 34px;
        border-radius: 17px;
        box-shadow: 1px 1px 2px rgba(#000, 0.3);
        margin-right: 10px;
        .del_item {
            position: absolute;
            right: 2px;
            top: 50%;
            width: 26px;
            height: 26px;
            margin-top: -13px;
            background-image: url(../images/common/ico_x_w.svg);
            background-position: center center;
            background-size: 15px;
            background-repeat: no-repeat;
        }
        &.on { 
            background-color: rgba($c_solidGrey, 1);
            &:hover {
                background-color: rgba($c_solidGrey, 1);
            }
        }
        
        &:hover {
            background-color: rgba($c_solidGrey, .7);
        }
    }
    &_link {
        display: block;
        
        
        color: #fff;
        height: 34px;
        font-size: 13px;
        white-space: nowrap;
        padding: 0 12px;
        padding-right: 26px;
        
        &.ty_main {
            padding-right: 12px;
        }
        
    }

 }


 .container {
    .contents {
        padding: 30px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(#000, .2);
    }
    .top_tit {
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid #bbb;
        display: flex;
        align-items: center;
        .tit {
            font-size: 20px;
            line-height: 1.5;
            font-weight: bold;
            color: #222;
        }
        .btn_refresh {
            margin-left: 6px;
            
        }
        & + .sec {
            margin-top: 0;
        }
    }
    .sec {
        margin-top: 40px;
        &_tit {
            display: flex;
            align-items: flex-end;
            gap: 15px;
            margin-bottom: 15px;
            .tit {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    
 }

.c_num {
    display: inline-block;
    padding-left: 13px;
    position: relative;
    &_ico {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
    }
    &_link {
        display: block;
        color: darken($c_blue, 15%) ;
        font-weight: 500;
        &:hover {
            text-decoration: underline;
        }
    }
}


.date_set {
    display: flex;
    align-items: center;
    gap: 6px;
}

.scroll_area {
    overflow: auto;
    border: 1px solid $c_line;
}
.x_scroll_area {
    overflow-x: auto;
    border: 1px solid $c_line;
}
.y_scroll_area {
    overflow-y: auto;
    border: 1px solid $c_line;
}

.t_ellipsis1 {
    @include text-hidden-single
}

/* footer */
.footer {
    background-color: #313131;
    color: #fff;
    .inner {
        width: auto;
        max-width: 1300px;
        margin: 0 auto;
    }
    &_top {
        background-color: #272727;
        padding: 10px 0;
        &_nav {
            display: flex;
            align-items: center;
            margin: 0 -15px;
            li {
                padding: 0 15px;
                box-sizing: border-box;
                position: relative;
                &::after {
                    content:'';
                    position: absolute;
                    width: 1px;
                    height: 10px;
                    right: 0;
                    top: 50%;
                    margin-top: -5px;
                    background-color: #7b7b7b;
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
            a {
                font-size: 14px;
                color: #7b7b7b;
                font-weight: 500;
                line-height: 40px;
                &:hover {
                    color: #fff;
                }
            }

        }
    }
    &_bot {
        color: #7b7b7b;
        padding: 50px 0;
        font-size: 12px;
        line-height: 1.6;
        .inner {
            display: flex;
        }
    }
    &_logo {
        width: 260px;
        flex-shrink: 0;
        margin-right: 10%;
    }
    &_branch {
        font-size: 12px;
        line-height: 1.6;
        &_sec {
            display: flex;
            align-items: center;
            & + & {
                margin-top: 5px;
            }
        }
        &_tit {
            font-size: 12px;
            line-height: 1.5;
            font-weight: bold;
            align-self: flex-start;
            
        }
        &_list {
            display: flex;
            flex-wrap: wrap;
            li {
                flex-shrink: 0;
                padding: 0 10px;
                position: relative;
                &::after {
                    content:'|';
                    position: absolute;
                    font-size: 10px;
                    right: 0;
                    top: 2px
                }
                &:last-child {
                    padding-right: 0;
                    &::after {
                        display: none;
                    }
                }
            }
            strong {
                font-weight: bold;
            }
        }
    }
    &_info {
        margin: 0 -10px;
        font-size: 12px;
        line-height: 1.6;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        span {
            flex-shrink: 0;
            padding: 0 10px;
            position: relative;
            &::after {
                content:'|';
                font-size: 10px;
                position: absolute;
                right: 0;
                top: 2px;
            }
            &:last-child {
                padding-right: 0;
                &::after {
                    display: none;
                }
            }

        }
    } 
    &_contact {
        margin-top: 20px;
        font-size: 14px;
        color: #d0d0d0;
        display: flex;
        .tit {
           padding-left: 20px;
           background-image: url(../images/common/ico_tel.svg); 
           background-repeat: no-repeat;
           background-position: 0 center;
           padding-right: 10px;
           margin-right: 10px;
           position: relative;
           &::after {
                content:'|';
                position: absolute;
                right: 0;
                top: 2px;
                font-size: 11px;
            }
        }
     
    }
} 



/* layout */
.container {
    &.ty_main {
        padding-bottom: 0;
    }
}

.inner {

    padding: 0 30px;
}
